<div class="container">

  <h1> Topics </h1>

<div class="row">
  <form method="POST" action="/topics">
    <label>Title</label>
    <input type="text" name="title">
    <br>

    <label>Date</label>
    <input type="text" name="date">
    <br>

     <label>Content</label>
    <input type="text" name="content">
    <br>

   <!--   <label>User</label>
    <input type="text" name="user_id"> -->

<!--     <input type="hidden" name="user_id" value="<%= @user_id %>">
 -->
    <button style="margin-top: 15px">Create</button>
    <br>
  </form>
</div>



</div>
