<div class="container">
  <h1 class="col-xs-12 topic-container">Users</h1>

    <% if current_user %>
      <div class="row">
        <ul>
          <% @users.each do |user| %>
            <div class="col-xs-12 topic-container" style="margin-top: 15px"> <%= link_to user.name, user_path(user) %> </div>
            <div><img class="img-thumbnail col-xs-2" <%= image_tag user.avatar.url %></div>
            <i><div class="col-xs-offset-0 col-xs-12"><%= link_to 'Delete this user!', user_path(user), method: :delete, data: { confirm: 'Are you sure?' } %></i></div>
            <br>
          <% end %>
        </ul>
      </div>

  <form action="/logout" method="post">
    <input name="_method" value="DELETE" type="hidden">
    <button style="margin-top: 20px">Logout</button>
  </form>

  <% else %>
    <a href="/login" class="col-md-12"> Login </a>
    <a href="/signup" class="col-md-12"> Sign up </a>
  <% end %>

</div>

