<div class="container">
  <h1 class="col-md-12">Users</h1>

    <% if current_user %>
      <ul>
        <% @users.each do |user| %>
          <li class="col-md-12"> <%= link_to user.name, user_path(user) %>
          <br>
          <i><%= link_to 'Delete this user!', user_path(user), method: :delete, data: { confirm: 'Are you sure?' } %></i>
        <% end %>
      </ul>

  <form action="/logout" method="post">
    <input name="_method" value="DELETE" type="hidden">
    <button style="margin-top: 20px">Logout</button>
  </form>

  <% else %>
    <a href="/login" class="col-md-12"> Login </a>
    <a href="/signup" class="col-md-12"> Sign up </a>
  <% end %>

</div>

