<!DOCTYPE html>
<html>
<head>
  <title>Project2</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body class="body-container">

<nav class="navbar navbar-default">
  <div class="container-fluid">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
      </button>
      <a class="navbar-brand" href="/">Topics</a>

      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
      </button>
      <a class="navbar-brand" href="/users">Users</a>

    </div>

    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">

     <% if current_user %>

	      <ul class="nav navbar-nav navbar-right">
	        <li>
	          <form action="/logout" method="post">
      			<input name="_method" value="DELETE" type="hidden">
      			<button style="margin-top: 8px" class="btn btn-default">Logout</button>
    			</form>
	        </li>
	      </ul>

      <% else %>

	      <ul class="nav navbar-nav navbar-right">
	        <button style="margin-top: 8px" class="btn btn-default"><a href="/login">Login</a></button>
	      </ul>

	  <% end %>

    </div><!-- /.navbar-collapse -->
  </div><!-- /.container-fluid -->
</nav>


<%= yield %>

</body>
</html>
